.header__lang-link{
  padding: 14px 18px 8px 0; 
  margin: 0;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-align: right;
}

.header__lang-link:nth-of-type(2n) {
  padding: 14px 0 8px; 
  text-decoration: none;
  }

@media screen and (min-width: 768px) {
  .header__lang-link{
    padding: 18px 18px 6px 0;
    font-size: 24px;
    line-height: 28px;
  }
  
  .header__lang-link:nth-of-type(2n) {
    padding: 18px 0 6px; 
  }
}