.place__image{
  padding: 32px 0 0;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

@media screen and (min-width: 768px) {
  .place__image{
    padding: 0;
    max-width: 340px;
    max-height: 340px;
  }
}

@media screen and (min-width: 1024px) {
  .place__image{
    padding: 0;
    max-width: 440px;
    max-height: 440px;
  }
}

@media screen and (min-width: 1280px) {
  .place__image{
    padding: 0;
    max-width: 460px;
    max-height: 460px;
  }
}