.place__websitle_url-heading{
  padding: 32px 0 0; 
  margin: 0 auto;
  max-width: 288px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
}

@media screen and (min-width: 768px) {
  .place__websitle_url-heading{
    margin: 0;
    padding: 0;
  }
}