.place__paragraphs{
  padding: 32px 16px 0 16px; 
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, min-content);
  row-gap: 25px;
}

@media screen and (min-width: 768px) {
  .place__paragraphs{
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .place__paragraphs{
    row-gap: 26px;
    align-content: start;
  }
}