.place__websitle_link{
  padding: 12px 0 0;
  margin: 0 auto;
  max-width: 288px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  display: block;
  text-underline-offset: 4px;
  transition: linear 1s;
}

.place__websitle_link:hover{
  text-decoration: none;
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .place__websitle_link{
    margin: 0;
  }
}