.lead__image{
  padding: 40px 0 0;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
}

@media screen and (min-width: 768px) {
  .lead__image{
    padding: 56px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .lead__image{
    padding: 56px 0 0; 
    max-width: 928px;
  }
}
@media screen and (min-width: 1280px) {
  .lead__image{
    padding: 64px 0 0;
    max-width: 984px;
  }
}