@media screen and (min-width: 768px) {
  .place{
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: repeat(2, min-content);
    gap: 48px 28px;
  }
}

@media screen and (min-width: 1024px) {
  .place{
    gap: 48px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .place{
    gap: 48px 40px;
  }
}