.intro__title{
  margin: 0 auto;
  max-width: 288px;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
}

@media screen and (min-width: 768px) {
  .intro__title{
    margin: 0;
    max-width: 720px;
    font-size: 54px;
    line-height: 58px;
  }
}